@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,600;1,700&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');

body {
  background: linear-gradient(180 deg, #3d8bfd 0%, #e7f1ff 100%);
  margin: 0;
  min-height: 100vh;
}
