<app-container>
    <header>
        <section class="cabecalho-link">
            <img src="assets/logo.png" alt="">
            <div>
                <button>
                  <img class="seta" src="assets/arrow-left.png" alt="">
                  <a routerLink="/lista-contatos">Voltar</a>
                </button>
              </div>
        </section>
        <section class="cabecalho-contato">
            <img src="assets/perfil-contato.png" alt="">
            <h1>Perfil do contato</h1>
        </section>
    </header>

    
</app-container>